/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_frontend

 *= require_self
 *= require_tree .
 *= require store/spree_fancy
 *= require store/spree_wishlist
*/



nav #main-nav-bar li:first-child a {
    padding-left: 0;
}
nav #main-nav-bar li a {
    padding-right: 30px;
}
nav #main-nav-bar li a, nav#top-nav-bar li a {
    font-weight: 600 !important;
}
nav #main-nav-bar li a {
    font-size: 16px;
    padding: 5px;
}
a:link {
}
a {
    transition-duration: 0.3s;
}
a {
    color: #00ADEE;
    text-decoration: none;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #00ADEE;
    color: #FFFFFF;
    text-shadow: none;
}
nav #main-nav-bar, nav#top-nav-bar {
    text-align: left;
}
nav #main-nav-bar {
    font-weight: bold;
    text-transform: uppercase;
}
ul, ol {
    list-style-position: inside;
}

